{% extends "base.twig" %}

{% block content %}
<section class="section2 section-pro-cat">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h3 class="theme-color-dark font-weight-bold mb-4">{{ category.label }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="border-top-light"></div>
                {% if sub_categories|length > 0 %}
                <br />
                <div class="product-category-dropdown dropdown">
                    <div class="form-group">
                        <select class="form-control" id="mobileCategorySelector">
                          <option value="{{ category.id }}">All</option>
                          {% for category in sub_categories %}
                          <option value="{{ category.id }}">{{ category.label }}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
                <ul class="nav nav-tabs sub-category justify-content-start row" role="tablist">
                    {% for category in sub_categories %}
                    <li class="nav-item ng-star-inserted{{ category.id == category_id ? 'active' : '' }}">
                        <a href="{{ category_page(category) }}" class="nav-link sub-category-link">
                            <figure class="ng-star-inserted">
                                <img alt="" src="{{ category.remote_path|cdn_link(200) }}">
                            </figure>
                            <h5>{{ category.label }}</h5>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="product-list-row row w-100">
                {% for product in products %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    {% include 'partial/product-card.twig' %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    console.log('loaded');
    $('#mobileCategorySelector').change(function(){
        window.location.href = "/category/"+$(this).val();
    });
</script>
{% endblock %}
