<pre style="display:none">{{ print_r(addresses) }}</pre>
<footer class="ng-trigger ng-trigger-routerTransition">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% if false %}
                <div class="foo-widget">
                    <h5 class="mb-4"> North America</h5>
                    <ul class="address">
                        <li>
                            <i class="fa fa-map-marker">
                            </i> 2201 Heritage Parkway Mansfield, <br> TX 76063 United States of America</li>
                            {% for p in phone_numbers %}
                            <li>
                                <a href="tel:+{{ p.phone_number|only_numbers }}"><i class="fa fa-phone"></i>{{ p.phone_number }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% for address in addresses %}
                    <div class="foo-widget">
                        <h5 class="mb-4">{{ address.name }}</h5>
                        <ul class="address">
                            {% for child in address.children %}
                            <li>
                                <a href="https://maps.google.com/?q={{ child.name }}" target="_blank">
                                    <i class="fa fa-map-marker"></i> {{ child.name | nl2br }}
                                </a>
                            </li>
                            {% for p in child.phone_numbers %}
                                <li>
                                    <a href="tel:+{{ p.phone_number|only_numbers }}">
                                        {% if p.phone_type == 'phone' %}
                                        <i class="fa fa-phone"></i>
                                        {% else %}
                                        <i class="fa fa-fax"></i>
                                        {% endif %}
                                        {{ p.phone_number }}
                                    </a>
                                </li>
                                {% endfor %}
                                {% for e in child.emails %}
                                    <li>
                                        <a href="mailto:{{ e.email }}"><i class="fa fa-mail"></i>{{ e.email }}</a>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-6">
                    <div class="foo-widget">
                        <h5 class="mb-4"> Our Products</h5>
                        <ul class="pro-list">
                            {% for category in product_categories %}
                                <li class="ng-star-inserted">
                                    <a href="/category/{{ category.id }}">{{ category.label }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="foo-widget">
                        <h5 class="mb-4">Follow us On</h5>
                        {% include 'partial/social-share.twig' %}
                        {% if false %}
                            <h5 class="mb-2">Subscribe for Our Newsletter </h5>
                            <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                            <div id="mc_embed_signup">
                                <form class="validate ng-untouched ng-pristine ng-valid" action="https://gmail.us4.list-manage.com/subscribe/post?u=3835b48c50568046a516a0bb2&amp;id=90b47938c1" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
                                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                        <input name="b_3835b48c50568046a516a0bb2_90b47938c1" tabindex="-1" type="text" value="">
                                    </div>
                                    <input class="email form-control form-control-sm rounded mb-3" id="mce-EMAIL" name="EMAIL" placeholder="Enter Your Email Address" required="" type="email" value="">
                                    <input class="btn btn-danger btn-sm rounded" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Subscribe">
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if footer_links|length > 0 %}
                <div class="row">
                    <div class="col-12">
                        <ul class="footer-links">
                            {% for link in footer_links %}
                            <li class="ng-star-inserted">
                                <a href="{{ link.link }}">{{ link.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <!---->
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="mb-0">Copyright {{ slmk_site_brand }} {{ "now"|date("Y") }}. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
