{% extends "base.twig" %}
{% block content %}
<div class="ng-tns-c4-2 ng-trigger ng-trigger-routerTransition">
    <section class="ng-tns-c4-2">
        <div class="slider">
            <div id="home-slider">
                <div id="tns" class="tns" style="overflow:hidden">
                {% for slider in sliders|slice(0, 20) %}
                    <div style="background-image: url({{ slider.remote_path|cdn_link(1400) }});" class="slide-image">
                        <div class="item-content h-100">
                            <div class="container h-100">
                                <div class="row h-100 align-items-end">
                                    <div class="col">
                                        <p class="sub-name"></p>
                                        <h1>{{ slider.text }}</h1>
                                        {% if slider.link is defined %}
                                        <button class="btn btn-primary rounded" tabindex="0"> Learn More <i aria-hidden="true" class="fa fa-angle-right ml-2">
                                            </i>
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% include "partial/social-share.twig" %}
</div>
</section>
<div class="ng-tns-c4-2">
    <section class="section section-featured">
        <div class="container">
            <div class="row m-0">
                <div class="col-12 col-sec-pull pt-4 pt-md-5">
                    <h1 class="section-title text-center mb-4 mb-md-5">Featured Products</h1>
                    <div id="featured-tablist">
                        <ul role="tablist" class="nav nav-tabs justify-content-start" style="display:none">
                            <li class="nav-item ng-star-inserted" style="">
                                <a class="nav-link active" href="" role="tab" id="ngb-tab-0" aria-controls="ngb-tab-0-panel" aria-expanded="true" aria-disabled="false">
                                    <span class="icon icon-thermal0 ng-star-inserted">
                                    </span>Night Vision </a>
                                </li>
                                <li class="nav-item ng-star-inserted" style="">
                                    <a class="nav-link" href="" role="tab" id="ngb-tab-1" aria-expanded="false" aria-disabled="false">
                                        <span class="icon icon-thermal0 ng-star-inserted">
                                        </span>Thermal </a>
                                    </li>
                                    <li class="nav-item ng-star-inserted" style="">
                                        <a class="nav-link" href="" role="tab" id="ngb-tab-2" aria-expanded="false" aria-disabled="false">
                                            <span class="icon icon-thermal0 ng-star-inserted">
                                            </span>IR Illuminators </a>
                                        </li>
                                        <li class="nav-item ng-star-inserted" style="">
                                            <a class="nav-link" href="" role="tab" id="ngb-tab-3" aria-expanded="false" aria-disabled="false">
                                                <span class="icon icon-thermal0 ng-star-inserted">
                                                </span>Accessories </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active ng-star-inserted" aria-labelledby="ngb-tab-0" id="ngb-tab-0-panel" aria-expanded="true" style="">
                                                <div class="ng-tns-c13-5">
                                                    <div class="owl-carousel owl-carousel-default owl-theme">
                                                        {% for product in featured_products %}
                                                        <div>
                                                            <div class="card card-product border-0" style="">
                                                                <a href="{{ product|product_page }}" class="card-image">
                                                                    <img alt="" class="img-fluid" src="{{ product.remote_image_path|cdn_link(400) }}">
                                                                </a>
                                                                <div class="card-body text-center">
                                                                    <h4 class="card-title" style="font-size: 20px;">{{ product.name }}</h4>
                                                                    <p class="card-sub-tile"></p>
                                                                    <a href="{{ product|product_page }}" class="btn btn-dark rounded" tabindex="0">Explore <i class="fa fa-angle-right ml-2">
                                                                        </i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                {% if interested_becoming_dealer is defined %}
                <div class="ng-tns-c4-2">
                    <section class="section bg-dark" style="background-image:url({{ interested_becoming_dealer.image | img_src }})">
                        <div class="container">
                            <div class="row m-0">
                                <div class="col-12 text-center">
                                    <h1 class="section-title text-center mb-5 text-white">{{ interested_becoming_dealer.title }}</h1>
                                    <a href="{{ interested_becoming_dealer.button_link }}" class="btn btn-primary">
                                        {{ interested_becoming_dealer.button_text }} <i class="fa fa-angle-right ml-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                {% endif %}
                {% if who_we_are is defined %}
                 <section class="section section-whoWeAre{{ (blog_posts|length > 3 and category_callout is not defined) ? ' pb-0' : '' }}">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 d-flex justify-content-center">
                                <div>
                                    <img alt="" class="img-fluid" src="{{ who_we_are.image|img_src }}">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                {% if who_we_are.title is defined %}
                                <h1 class="section-title section-title-2">{{ who_we_are.title|striptags('<br>')|raw }}</h1>
                                {% endif %}

                                {{ who_we_are.text | wpautop }}

                                {% if who_we_are.button_link is defined %}
                                <a href="{{ who_we_are.button_link }}" class="btn btn-primary">
                                    {{ who_we_are.button_text }} <i class="fa fa-angle-right ml-2"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>
                {% endif %}

                {% if category_callout is defined %}
                    <section class="section p-0 section-one-half">
                        <div class="container-fluid">
                            <div class="row">
                                {% for callout in category_callout %}
                                <div class="col-md-6 d-flex align-items-end justify-content-center pb-5" style="background-image:url( '{{ callout.image|img_src }}' )">
                                    <div class="text">
                                        {% if callout.text is defined %}
                                        <h4>{{ callout.text }}</h4>
                                        {% endif %}

                                        {% if callout.button_link is defined %}
                                        <a href="{{ callout.button_link }}" class="btn btn-primary" tabindex="0">
                                            {{ callout.button_text }} <i class="fa fa-angle-right ml-2"></i>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>

                {% endif %}
                {% include "partial/home/blog-posts.twig" %}
</div>

{% endblock %}
