{% extends "base.twig" %}
{% block content %}
<div class="ng-tns-c4-2 ng-trigger ng-trigger-routerTransition">
    <section class="ng-tns-c4-2" _nghost-c5="">
        <div _ngcontent-c5="" class="slider">
            <div id="home-slider">
                <div id="tns" class="tns" style="overflow:hidden">

                {% for slider in sliders|slice(0, 20) %}
                    <!---->
                    <!---->
                    <div style="background-image: url({{ slider.remote_path|cdn_link(1600) }});" class="slide-image">
                        <div _ngcontent-c5="" class="item-content h-100">
                            <div _ngcontent-c5="" class="container h-100">
                                <div _ngcontent-c5="" class="row h-100 align-items-end">
                                    <div _ngcontent-c5="" class="col">
                                        <p _ngcontent-c5="" class="sub-name"></p>
                                        <h1 _ngcontent-c5="">{{ slider.text }}</h1>
                                        {% if slider.link is defined %}
                                        <button _ngcontent-c5="" class="btn btn-primary rounded" tabindex="0"> Learn More <i _ngcontent-c5="" aria-hidden="true" class="fa fa-angle-right ml-2">
                                            </i>
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                {% endfor %}
            </div>

            </div>
        {% include "partial/social-share.twig" %}
</div>
</section>
<div class="ng-tns-c4-2" _nghost-c6="">
    <section _ngcontent-c6="" class="section section-featured">
        <div _ngcontent-c6="" class="container">
            <div _ngcontent-c6="" class="row m-0">
                <div _ngcontent-c6="" class="col-12 col-sec-pull pt-4 pt-md-5">
                    <h1 _ngcontent-c6="" class="section-title text-center mb-4 mb-md-5">Featured Products</h1>
                    <div _ngcontent-c6="" id="featured-tablist">
                        <ul role="tablist" class="nav nav-tabs justify-content-start" style="display:none">
                            <!---->
                            <li class="nav-item ng-star-inserted" style="">
                                <a class="nav-link active" href="" role="tab" id="ngb-tab-0" aria-controls="ngb-tab-0-panel" aria-expanded="true" aria-disabled="false">
                                    <!---->
                                    <span _ngcontent-c6="" class="icon icon-thermal0 ng-star-inserted">
                                    </span>Night Vision </a>
                                </li>
                                <li class="nav-item ng-star-inserted" style="">
                                    <a class="nav-link" href="" role="tab" id="ngb-tab-1" aria-expanded="false" aria-disabled="false">
                                        <!---->
                                        <span _ngcontent-c6="" class="icon icon-thermal0 ng-star-inserted">
                                        </span>Thermal </a>
                                    </li>
                                    <li class="nav-item ng-star-inserted" style="">
                                        <a class="nav-link" href="" role="tab" id="ngb-tab-2" aria-expanded="false" aria-disabled="false">
                                            <!---->
                                            <span _ngcontent-c6="" class="icon icon-thermal0 ng-star-inserted">
                                            </span>IR Illuminators </a>
                                        </li>
                                        <li class="nav-item ng-star-inserted" style="">
                                            <a class="nav-link" href="" role="tab" id="ngb-tab-3" aria-expanded="false" aria-disabled="false">
                                                <!---->
                                                <span _ngcontent-c6="" class="icon icon-thermal0 ng-star-inserted">
                                                </span>Accessories </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <!---->
                                            <!---->
                                            <div role="tabpanel" class="tab-pane active ng-star-inserted" aria-labelledby="ngb-tab-0" id="ngb-tab-0-panel" aria-expanded="true" style="">
                                                <!---->
                                                <div class="ng-tns-c13-5">
                                                    <div class="owl-carousel owl-carousel-default owl-theme">
                                                        {% for product in featured_products %}
                                                        <div>
                                                            <div _ngcontent-c6="" class="card card-product border-0" style="">
                                                                <a href="{{ product|product_page }}" class="card-image">
                                                                    <img _ngcontent-c6="" alt="" class="img-fluid" src="{{ product.remote_image_path|cdn_link(400) }}">
                                                                </a>
                                                                <div class="card-body text-center">
                                                                    <h4 _ngcontent-c6="" class="card-title" style="font-size: 20px;">{{ product.name }}</h4>
                                                                    <p _ngcontent-c6="" class="card-sub-tile"></p>
                                                                    <a href="{{ product|product_page }}" class="btn btn-dark rounded" tabindex="0">Explore <i _ngcontent-c6="" class="fa fa-angle-right ml-2">
                                                                        </i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>

                                            <!---->
                                            <!---->

                                            </div>
                                            <!---->
                                            <!---->
                                            <!---->
                                            <!---->
                                            <!---->
                                            <!---->
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="ng-tns-c4-2" _nghost-c7="">
                    <section _ngcontent-c7="" class="section section-apply bg-dark">
                        <div _ngcontent-c7="" class="container">
                            <div _ngcontent-c7="" class="row m-0">
                                <div _ngcontent-c7="" class="col-12 text-center">
                                    <h1 _ngcontent-c7="" class="section-title text-center mb-5 text-white">Interested in becoming a pulsar dealer?</h1>
                                    <a href="/become-a-pulsar-dealer" class="btn btn-danger">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="ng-tns-c4-2" _nghost-c8="">
                    <section class="section section-whoWeAre">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="wwr-image-wrapper">
                                        <div class="img1">
                                            <img alt="" class="img-fluid" src="https://pulsarnv-ds.com/pulsarnv2020/assets/images/wwr-1.png">
                                        </div>
                                        <div class="img2">
                                            <div class="image">
                                                <a href="">
                                                    <img alt="" class="img-fluid" src="https://pulsarnv-ds.com/pulsarnv2020/assets/images/wwr-2.png">
                                                    <img alt="" class="play" src="https://pulsarnv-ds.com/pulsarnv2020/assets/images/play.png">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <h1 class="section-title section-title-2">Discover <br> who we are</h1>
                                    <p>A premium manufacturer, Pulsar is an industry pioneer that designs cutting edge products foraWhether you’re a law enforcement officer, a 3-gun competition shooter, or a dedicated hunter, laying a foundation at the shooting bench is essential, no matter the pursuit. Devoting serious time at the range provides the repetition needed to build confidence in your abilities as a marksman. </p>
                                    <p>At Pulsar, our goal is to deliver confidence by creating optics and accessories that every shooter can rely on. We understand what it takes to prepare and we know that the hours spent hunched over a shooting bench at the range are meaningless unless your products do their job. From riflescopes and binoculars to night vision technology and red dots, Pulsar is committed in our pursuit of building durable, accurate optics you can trust. hunting, law enforcement, personal security, and search &amp; rescue operations. The brand positions itself by creating the best optics, software, and features available on the market. </p>
                                    <a href="/about-us" class="btn btn-primary rounded">Learn More <i class="fa fa-angle-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="ng-tns-c4-2">
                <section _ngcontent-c9="" class="section p-0 section-one-half">
                    <div _ngcontent-c9="" class="container-fluid">
                        <div _ngcontent-c9="" class="row">
                            <div _ngcontent-c9="" class="col-md-6 one d-flex align-items-end justify-content-center pb-5">
                                <div _ngcontent-c9="" class="text">
                                    <h4 _ngcontent-c9="">Thermal</h4>
                                    <a href="/category/111" class="btn btn-primary rounded" tabindex="0">Learn More <i _ngcontent-c9="" class="fa fa-angle-right ml-2"></i></a>
                            </div>
                        </div>
                        <div _ngcontent-c9="" class="col-md-6 second d-flex align-items-end justify-content-center pb-5">
                            <div _ngcontent-c9="" class="text">
                                <h4 _ngcontent-c9="">Night Vision</h4>
                                <a href="/category/96" class="btn btn-primary rounded" tabindex="0">Learn More <i _ngcontent-c9="" class="fa fa-angle-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-featured-category class="ng-tns-c4-2" _nghost-c10="">
        <!---->
        <section _ngcontent-c10="" class="section section-featured-category pb-0 ng-star-inserted">
            <div _ngcontent-c10="" class="container">
                <div _ngcontent-c10="" class="row m-0 justify-content-center">
                    <div _ngcontent-c10="" class="col-lg">
                        <div _ngcontent-c10="" class="image blog_img1" style="background-image: url({{ blog_posts[0].thumbnail.src }});">
                            <div _ngcontent-c10="" class="img-content">
                                <a _ngcontent-c10="" href="{{ blog_posts[0].link }}">
                                    <h4 _ngcontent-c10="">{{ blog_posts[0].title }}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-c10="" class="col-lg">
                        <div _ngcontent-c10="" class="row h-100">
                            <div _ngcontent-c10="" class="col-lg mt-4 mt-lg-0">
                                <div _ngcontent-c10="" class="image blog_imgSmall" style="background-image: url({{ blog_posts[1].thumbnail.src }});">
                                    <div _ngcontent-c10="" class="img-content">
                                        <a _ngcontent-c10="" href="{{ blog_posts[1].link }}">
                                            <h4 _ngcontent-c10="">{{ blog_posts[1].title }}</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-c10="" class="col-lg mt-4 mt-lg-0">
                                <div _ngcontent-c10="" class="image blog_imgSmall" style="background-image: url({{ blog_posts[2].thumbnail.src }});">
                                    <div _ngcontent-c10="" class="img-content">
                                        <a _ngcontent-c10="" href="{{ blog_posts[2].link }}">
                                            <h4 _ngcontent-c10="">{{ blog_posts[2].title }}</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-c10="" class="col-lg-12 align-self-end">
                                <div _ngcontent-c10="" class="image blog_imgSmall" style="background-image: url({{ blog_posts[3].thumbnail.src }});">
                                    <div _ngcontent-c10="" class="img-content">
                                        <a _ngcontent-c10="" href="{{ blog_posts[3].link }}">
                                            <h4 _ngcontent-c10="">{{ blog_posts[3].title }}</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </app-featured-category>
    <br /><br /><br />
    {% if false %}
    <app-featured-partners class="ng-tns-c4-2" _nghost-c11="" style="display:none">
        <section _ngcontent-c11="" class="section section-featured-partner">
            <div _ngcontent-c11="" class="container">
                <div _ngcontent-c11="" class="row m-0">
                    <div _ngcontent-c11="" class="col-12">
                        <h1 _ngcontent-c11="" class="section-title text-center mb-1 mb-md-5">Featured Partners</h1>
                        <owl-carousel-o _ngcontent-c11="" _nghost-c12="">
                            <div _ngcontent-c12="" class="owl-carousel owl-theme owl-loaded owl-responsive owl-drag">
                                <!---->
                                <div _ngcontent-c12="" class="owl-stage-outer ng-star-inserted" style="">
                                    <owl-stage _ngcontent-c12="" class="ng-tns-c13-4">
                                        <div class="ng-tns-c13-4">
                                            <div class="owl-stage" style="width: 2420px; transform: translate3d(-660px, 0px, 0px); transition: all 0s ease 0s;">
                                                <!---->
                                                <!---->
                                                <div class="owl-item ng-tns-c13-4 cloned ng-trigger ng-trigger-autoHeight ng-star-inserted" style="width: 220px;">
                                                    <!---->
                                                    <!---->
                                                    <img _ngcontent-c11="" alt="" src="https://pulsarnv-ds.com/pulsarnv2020/assets/images/partner/3.png" class="ng-star-inserted" style="">
                                                    <!---->
                                                </div>
                                                <!---->
                                                <div class="owl-item ng-tns-c13-4 cloned ng-trigger ng-trigger-autoHeight ng-star-inserted" style="width: 220px;">
                                                    <!---->
                                                    <!---->
                                                    <img _ngcontent-c11="" alt="" src="https://pulsarnv-ds.com/pulsarnv2020/assets/images/partner/5.png" class="ng-star-inserted" style="">
                                                    <!---->
                                                </div>
                                                <!---->
                                                <div class="owl-item ng-tns-c13-4 cloned ng-trigger ng-trigger-autoHeight ng-star-inserted" style="width: 220px;">
                                                    <!---->
                                                    <!---->
                                                    <img _ngcontent-c11="" alt="" src="http://pulsarnv-ds.com/pulsarnv2020/assets/images/partner/4.png" class="ng-star-inserted" style="">
                                                    <!---->
                                                </div>
                                                <!---->
                                                <div class="owl-item ng-tns-c13-4 active ng-trigger ng-trigger-autoHeight ng-star-inserted" style="width: 220px;">
                                                    <!---->
                                                    <!---->
                                                    <img _ngcontent-c11="" alt="" src="http://pulsarnv-ds.com/pulsarnv2020/assets/images/partner/1.png" class="ng-star-inserted" style="">
                                                    <!---->
                                                </div>
                                                <!---->
                                                <div class="owl-item ng-tns-c13-4 active ng-trigger ng-trigger-autoHeight ng-star-inserted" style="width: 220px;">
                                                    <!---->
                                                    <!---->
                                                    <img _ngcontent-c11="" alt="" src="http://pulsarnv-ds.com/pulsarnv2020/assets/images/partner/2.png" class="ng-star-inserted" style="">
                                                    <!---->
                                                </div>
                                                <!---->
                                                <div class="owl-item ng-tns-c13-4 active ng-trigger ng-trigger-autoHeight ng-star-inserted" style="width: 220px;">
                                                    <!---->
                                                    <!---->
                                                    <img _ngcontent-c11="" alt="" src="http://pulsarnv-ds.com/pulsarnv2020/assets/images/partner/3.png" class="ng-star-inserted" style="">
                                                    <!---->
                                                </div>
                                                <!---->
                                                <div class="owl-item ng-tns-c13-4 ng-trigger ng-trigger-autoHeight ng-star-inserted" style="width: 220px;">
                                                    <!---->
                                                    <!---->
                                                    <img _ngcontent-c11="" alt="" src="http://pulsarnv-ds.com/pulsarnv2020/assets/images/partner/5.png" class="ng-star-inserted" style="">
                                                    <!---->
                                                </div>
                                                <!---->
                                                <div class="owl-item ng-tns-c13-4 ng-trigger ng-trigger-autoHeight ng-star-inserted" style="width: 220px;">
                                                    <!---->
                                                    <!---->
                                                    <img _ngcontent-c11="" alt="" src="http://pulsarnv-ds.com/pulsarnv2020/assets/images/partner/4.png" class="ng-star-inserted" style="">
                                                    <!---->
                                                </div>
                                                <!---->
                                                <div class="owl-item ng-tns-c13-4 cloned ng-trigger ng-trigger-autoHeight ng-star-inserted" style="width: 220px;">
                                                    <!---->
                                                    <!---->
                                                    <img _ngcontent-c11="" alt="" src="http://pulsarnv-ds.com/pulsarnv2020/assets/images/partner/1.png" class="ng-star-inserted" style="">
                                                    <!---->
                                                </div>
                                                <!---->
                                                <div class="owl-item ng-tns-c13-4 cloned ng-trigger ng-trigger-autoHeight ng-star-inserted" style="width: 220px;">
                                                    <!---->
                                                    <!---->
                                                    <img _ngcontent-c11="" alt="" src="http://pulsarnv-ds.com/pulsarnv2020/assets/images/partner/2.png" class="ng-star-inserted" style="">
                                                    <!---->
                                                </div>
                                                <!---->
                                                <div class="owl-item ng-tns-c13-4 cloned ng-trigger ng-trigger-autoHeight ng-star-inserted" style="width: 220px;">
                                                    <!---->
                                                    <!---->
                                                    <img _ngcontent-c11="" alt="" src="http://pulsarnv-ds.com/pulsarnv2020/assets/images/partner/3.png" class="ng-star-inserted" style="">
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                    </owl-stage>
                                </div>
                                <!---->
                                <!---->
                                <div _ngcontent-c12="" class="owl-nav disabled ng-star-inserted" style="display: none">
                                    <div _ngcontent-c12="" class="owl-prev">
                                        <i class="fa fa-arrow-left">
                                        </i>
                                    </div>
                                    <div _ngcontent-c12="" class="owl-next">
                                        <i class="fa fa-arrow-right">
                                        </i>
                                    </div>
                                </div>
                                <div _ngcontent-c12="" class="owl-dots ng-star-inserted" style="">
                                    <!---->
                                    <div _ngcontent-c12="" class="owl-dot active ng-star-inserted">
                                        <span _ngcontent-c12="">
                                        </span>
                                    </div>
                                    <div _ngcontent-c12="" class="owl-dot ng-star-inserted">
                                        <span _ngcontent-c12="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </section>
    </app-featured-partners>
    {% endif %}
</div>

{% endblock %}
