<header id="main_navigation" class="fixed-top">
    <nav class="container">
        <a class="navbar-brand" routerlink="/" href="/">
            <img alt="" src="{{ slmk_site_logo }}">
        </a>
        <ul>
            {% if menu.get_items|length > 0 %}
                {% for item in menu.get_items %}
                <li>
                    <a href="{{ item.link }}">
                        {{ item.title }}
                        {% if item.children|length > 0 %}
                        <i class="fa fa-angle-down ml-3"></i>
                        {% endif %}
                    </a>
                    {% if item.children|length > 0 %}
                    <ul>
                        {% for child in item.children %}
                        <li>
                            <a class="" href="{{ child.link }}">{{ child.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            {% endif %}
            <li>
                <a class="nav-link search search-toggle" aria-controls="collapseExample" href="javascript:void(0)" aria-expanded="false">
                    <i class="fa fa-search"></i>
                </a>
                <a class="nav-link cart" target="_blank" href="{{ netsuite_viewcart_url }}">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="badge badge-secondary" id="shopping-counter" style="display: none"></span>
                    <iframe id="shopping-counter-content" src="/?show_shopping_counter=true" style="border: 0;width: 1px;height: 1px;pointer-events: none; position: fixed;top:0;left:0;"></iframe>
                </a>
                <button id="hamburger-menu" class="navbar-toggler nav-link" type="button">
                    <span class="navbar-toggler-icon">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                </button>
            </li>
        </ul>
    </nav>
    <div class="search-wrapper" id="search-bar" >
        <form method="GET" action="/" class="container" style="position: relative;">
            <div class="row justify-content-between">
                <div class="col">
                    <div class="search-box">
                        <input class="form-control" name="s" autocomplete="off" placeholder="Search..." type="search">
                        <i class="fa fa-search">
                        </i>
                    </div>
                </div>
                <div class="col-auto align-self-center">
                    <span class="close-search search-toggle">
                        <i class="fa fa-close">
                        </i>
                    </span>
                </div>
            </div>
        </form>
    </div>
    {% include 'partial/breadcrumbs.twig' %}
    {% include 'partial/overlay-menu.twig' %}
</header>
