<div id="overlay-menu" class="pb-5">
    <div>
        <form method="GET" action="/" class="search-box">
            <input class="form-control" name="s" autocomplete="off" placeholder="Search..." type="search">
        </form>
        <ul>
            {% for item in menu.get_items %}
            <li>
                {% if item.children|length > 0 %}

                <div class="has-children">{{ item.title }} <i class="fa fa-angle-down"></i></div>
                <ul class="item-children">
                    {% for child in item.children %}

                    <li>
                        <a href="{{ child.link }}">{{ child.title }}</a>
                    </li>

                    {% endfor %}
                </ul>
                {% else %}

                <a href="{{ item.link }}">{{ item.title }}</a>

                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
