<a class="card product-card ng-star-inserted item" data-nsid="{{product.nsid}}" href="{{ product|product_page }}">
    <div class="image">
        <img alt="" class="img-fluid" style="width:auto" src="{{ product.remote_image_path|cdn_link(400) }}">
    </div>
    <div class="card-body text-center">
        <p class="card-title">{{ product.name }}</p>
        <p class="sub-title">{{ product.sku }}</p>
        {% if show_prices|boolval %}
        <div class="purchase-item">
            <p class="status">
                {{ in_stock(product.in_stock, product.allow_backorders) }}
            </p>
            <p class="price">{{ product.price|format_currency }}</p>
        </div>
        {% endif %}
    </div>
</a>
